extends layout

block content
  .container
    .col-md-12
      h1=title
    .col-md-6
          ul
            each elem,index in events
              li.col-md-12.list-group-item-heading=elem.title
                  p.list-group-item-text='Experiencia requerida: '+elem.experience
                  p.list-group-item-text='Fecha: '+elem.date
                  p.list-group-item-text='Hora: '+elem.time
                  div.col-md-12
                  button.btn.btn-secondary(data-index=elem._id type='button') APUNTATE
    .col-md-6
      script(type='text/javascript').
        var events =!{JSON.stringify(events)}
      div#calendar