extends layout

block content
  .col-md-12
    h1=title
  .col-md-12
        div
          each elem,index in events
            div.col-md-6.list-group-item-heading=elem.activity
              div.col-md-5
                p.list-group-item-text='Experiencia requerida: '+elem.experience
                p.list-group-item-text='Fecha: '+elem.date
                p.list-group-item-text='Hora: '+elem.time
              div.col-md-12
                button.btn.btn-secondary(data-index=elem._id type='button') APUNTATE